RawXmlMessagesExample.Client/Service References/RemoteComplexService/RawXmlMessageExampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RawXmlMessagesExample.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RawXmlMessagesExample.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6789/PawelSzczygielski/v1_0/RawXmlMessageExampleService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ComplexRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubObjects" nillable="true" type="tns:ArrayOfDeepObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexRequest" nillable="true" type="tns:ComplexRequest" />
  <xs:complexType name="ArrayOfDeepObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeepObject" nillable="true" type="tns:DeepObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeepObject" nillable="true" type="tns:ArrayOfDeepObject" />
  <xs:complexType name="DeepObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeepObject" nillable="true" type="tns:DeepObject" />
  <xs:complexType name="ComplexResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Blob" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexResponse" nillable="true" type="tns:ComplexResponse" />
</xs:schema>