RawXmlMessagesExample.Client/Service References/RemoteComplexService/RawXmlMessageExampleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PawelSzczygielski/v1_0/RawXmlMessageExampleService" elementFormDefault="qualified" targetNamespace="http://PawelSzczygielski/v1_0/RawXmlMessageExampleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6789/PawelSzczygielski/v1_0/RawXmlMessageExampleService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RawXmlMessagesExample.Services" />
  <xs:element name="DoComplexOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RawXmlMessagesExample.Services" minOccurs="0" name="obj" nillable="true" type="q1:ComplexRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoComplexOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RawXmlMessagesExample.Services" minOccurs="0" name="DoComplexOperationResult" nillable="true" type="q2:ComplexResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>